.exerciseChar {
    font-family: 'Courier New'
}

@keyframes cursor-blink {
    0% {
      background-color: yellow;
    }
    100% {
      background-color: transparent;
    }
}

.exerciseChar[data-current="true"]{
    background-color: yellow;
    animation: cursor-blink 1s infinite;
}

.exerciseChar[data-state="ok"]{
    background-color: lightgreen;
}

.exerciseChar[data-state="error"]{
    background-color: red;
}



